In [57]:
import pandas as pd

In [58]:
pd.read_table(filepath_or_buffer="./original/20170529__Assay2_260nm_002.txt", header = 101, delimiter='\t', nrows=3001)

      R.Time (min)  Intensity
0          0.00000         -1
1          0.00833         -1
2          0.01667          0
3          0.02500          1
4          0.03333          1
5          0.04167          2
6          0.05000          2
7          0.05833          3
8          0.06667          3
9          0.07500          4
10         0.08333          3
11         0.09167          2
12         0.10000          1
13         0.10833          1
14         0.11667          1
15         0.12500          1
16         0.13333          1
17         0.14167          0
18         0.15000          0
19         0.15833          0
20         0.16667          0
21         0.17500          0
22         0.18333          1
23         0.19167          1
24         0.20000          1
25         0.20833          1
26         0.21667          1
27         0.22500          1
28         0.23333          2
29         0.24167          3
...            ...        ...
2971      24.75833        -19
2972      24.76667        -19
2973      24.77500        -19
2974      24.78333        -19
2975      24.79167        -19
2976      24.80000        -18
2977      24.80833        -17
2978      24.81667        -16
2979      24.82500        -16
2980      24.83333        -16
2981      24.84167        -16
2982      24.85000        -16
2983      24.85833        -15
2984      24.86667        -14
2985      24.87500        -14
2986      24.88333        -13
2987      24.89167        -13
2988      24.90000        -13
2989      24.90833        -13
2990      24.91667        -14
2991      24.92500        -14
2992      24.93333        -14
2993      24.94167        -14
2994      24.95000        -13
2995      24.95833        -12
2996      24.96667        -12
2997      24.97500        -12
2998      24.98333        -11
2999      24.99167        -10
3000      25.00000        -10

[3001 rows x 2 columns]

In [59]:
tocsv = pd.read_table(filepath_or_buffer="./original/20170529__Assay2_260nm_002.txt", header = 101, delimiter='\t', nrows=3001)

In [60]:
tocsv.to_csv("./original/Assay2_260nm_truncated", index = False, encoding = 'utf-8')